# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/
env/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/
notebooks/

# Data
data/
*.csv
*.xlsx

# OS files
.DS_Store
Thumbs.db

*.safetensors
*.bin
models/distilbert_model/